*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/* Utilites */
.sect{
  margin: auto;
  width: 70%;
  max-width: 1500px;
  min-width: 600px;
}

.mb-15px{
  margin-bottom: 15px;
}


/* Header */
.top{
  height: 65px;
}

.top img{
  height: 45px;
}

nav ul{
  list-style: none;
}
nav ul li{
  font-size: 10px;
  margin-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  opacity: .4;
}


/* Main */
.midle{
  height: 400px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.midle .text{
  padding-top: 30%;
  padding-left: 5%;
}

.midle .text p{
  width: 60%;
}
.bottom{
height: 500px;
}

.up{
  width: 100%;
  height: 40px;
  opacity: .6;
}

.up h1{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.up p{
  font-size: 15px;
}


.col{
  height: 340px;
  float: left;
}


.col-lt{
  width: 19%;
  margin-right: 1%;
}

.col-lt image{
  width: 100%;
  border-radius: 10px;
}

.col-ct{
  width: 60%;
}

.col-ct image{
  width: 100%;
  border-radius: 10px;
}

.col-rt{
  width: 19%;
  margin-left: 1%;
}

.col-lt image{
  width: 100%;
  border-radius: 10px;
}

/* Footer */
.down{
  height: 30px;
  background-color: violet;
}